<section id="credits" data-8000="position:relative;" data-end="position:fixed;" data-start="position:relative;" class="skrollable   unrendered " style="position: fixed;">
  <div class="snippet-n">
    <ul>
      <li> <b>Editors:</b> <a href="https://twitter.com/BrianMFloyd" target="new">Brian Floyd</a>, <a href="https://twitter.com/sundownmotel" target="new">Bill Hanstock</a>, <a href="https://twitter.com/seth_rosenthal" target="new">Seth Rosenthal</a>, <a href="https://twitter.com/davidfucillo" target="new">David Fucillo</a>, <a href="https://twitter.com/JasonKirkSBN" target="new">Jason Kirk</a>
      </li>
      <li> <b>Producers:</b> <a href="https://twitter.com/cwilliams2k4" target="new">Cory Williams</a>, <a href="https://twitter.com/chrismchaines" target="new">Chris Haines</a>, <a href="https://twitter.com/chrismottram" target="new">Chris Mottram</a>
      </li>
      <li> <b>Lead designer:</b> <a href="https://twitter.com/hellogeorgia" target="new">Georgia Cowley</a>
      </li>
      <li> <b>Lead developer:</b> <a href="https://twitter.com/zohf" target="new">Josh Laincz</a>
      </li>
      </ul>
      <ul>
      <li> <b>Designer:</b> <a href="https://twitter.com/ramoved" target="new">Ramla Mahmood</a>
      </li>
      <li> <b>Photographer:</b> <a href="https://twitter.com/dakotafine" target="new">Dakota Fine</a>
      </li>
      <li> <b>Photo assistants:</b> <a href="https://twitter.com/photobyjeff" target="new">Jeff Martin</a>, <a href="https://twitter.com/_escphotography" target="new">Emily Cohen</a>
      </li>
      <li> <b>Special thanks:</b> <a href="https://twitter.com/scottkellum" target="new">Scott Kellum</a>, <a href="https://twitter.com/ted_irvine" target="new">Ted Irvine</a>, Vox Media's beautiful employees.</li>
    </ul>
  </div>
  <a href="/" class="sbn-link">SB Nation</a>
</section>