<footer id="footer" data-8000="position:relative;" data-end="position:fixed;" data-start="position:relative;" class="skrollable   unrendered " style="position: fixed;">
  <div class="snippet-n">
    <ul>
      <li>SB Nation</li>
      <li>&copy 2014 Vox Media Inc. All Rights Reserved</li>
    </ul>
  </div>
  <a href="/" class="sbn-link">SB Nation</a>
</footer>