<div class="menu">
  <ul>
    <li> <a href="/"><img src="http://cdn3.sbnation.com/images/chorus/modules/top_nav/big_sbn_logo_white.vf4a6dc5.png"></a> </li>
    <!-- START SOCIAL -->
    <li class="ss-social"><a onclick="window.open(this.href, '', 'height=279,width=575'); return false;" href="https://plus.google.com/share?url=http://bit.ly/1g0fNZv" class="gp"></a></li>
    <li class="ss-social"><a onclick="window.open(this.href, '', 'height=279,width=575'); return false;" href="https://www.facebook.com/sharer/sharer.php?u=http://bit.ly/1g0fNZv" class="fb"></a></li>
    <li class="ss-social first"><a href="https://twitter.com/intent/tweet?text=The+2013+SB+Nation+Holiday+Gift+Guide&amp;url=http://bit.ly/1g0fNZv" class="twitter"></a></li>
    <!-- END SOCIAL --> 
    <li class="sponsor">
    <a href="http://ad.doubleclick.net/clk;276791345;104029846;n" target="new"> sponsored by <img src="http://cdn0.sbnation.com/features/2013-gift-guide/Lenovo_STB_White_HolidayGiftGuide.png"></a><img src="http://ad.doubleclick.net/ad/N5249.529834.VOXMEDIAINC/B7879383.17;sz=1x1;ord=%5Btimestamp%5D" width="0" height="0" style="display: none !important; visibility: hidden !important; opacity: 0 !important; background-position: 1px 1px;">
    </li>
  </ul>
</div>