// footer

footer {
  padding: 0 8% 4em 8%;
  overflow: hidden;
  clear: both;
  position: relative;
  z-index: 1;
}

#footer {
  background-color: #333;
  @include background-image(linear-gradient(top, #333, darken(#333, 10%)));
  color: #aaa;
  bottom: 0;
  width: 100%;
  z-index: 0;
  padding-top: 3em;
  a {
    color: white !important;
  }
  @media (max-width: 50em) {
    height: auto !important;
    position: relative !important;
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul {
    float: left;
    margin-right: 2em;
    max-width: 35%;
  }
  @media (max-width: 50em) {
    ul {
      width: 100%;
      max-width: none;
      margin-bottom: 2em;
    }
  }
  li {
    margin-bottom: .66em;  
    font-size: 0.8em  ;
    line-height: 1.33;
    color: #ececec;
    @media (max-width: 40em) {
      font-size: 14px;
    }
  }
  .sbn-link {
    background-image: url('http://cdn3.sbnation.com/images/chorus/modules/top_nav/big_sbn_logo_white.vf4a6dc5.png');
    background-size: 100%;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 142.5px;
    height: 17px;
    margin: 0 auto 20px auto;
    opacity: .5;
    float:right;
    @media (max-width: $gg_break) {
      margin-top: 20px;
      float:none;
    }
    @include transition(all .5s);
    &:hover {
      opacity: 1;
    }
  }
}