$serif: Georgia, serif;
$sans-serif: Arial, sans-serif;
$monospace: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
$sentinel: 'Sentinel SSm A', 'Sentinel SSm B', $serif;

// knockout family
$knockout-28: 'Knockout 28 A', 'Knockout 28 B', $sans-serif;
$knockout-30: 'Knockout 30 A', 'Knockout 30 B', $sans-serif;
$knockout-32: 'Knockout 32 A', 'Knockout 32 B', $sans-serif;

// gotham family
$gotham: 'Gotham SSm A', 'Gotham SSm B', $sans-serif;
$gotham-condensed: 'Gotham Cond SSm A', 'Gotham Cond SSm B', $sans-serif;
$gotham-narrow: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', $sans-serif;

$gg_break: 720px;
$break_xsmall: 400px;
$break_small: 600px;
$break_medium_small: 728px;
$break_medium: 880px;
$break_large_medium: 950px;
$break_large: 1080px;