<nav id="minimal-nav" class="m-minimal-nav">
  <div class="m-minimal-nav__container">
    <a class="m-minimal-nav__logo" href="/"><h1>The Verge</h1></a>

    <div class="minimal-nav__social">
      <span class="minimal-nav__social-span">Share: </span>
      <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.theverge.com%2F2014%2F1%2F21%2F5307992%2Finside-the-mind-of-a-fanboy" class="minimal-nav__social-link facebook">Facebook</a>
      <a href="https://twitter.com/share?url=http%3A%2F%2Fwww.theverge.com%2F2014%2F1%2F21%2F5307992%2Finside-the-mind-of-a-fanboy&amp;text=Fanboys&amp;via=verge" class="minimal-nav__social-link twitter">Twitter</a>
      <a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.theverge.com%2F2014%2F1%2F21%2F5307992%2Finside-the-mind-of-a-fanboy" class="minimal-nav__social-link googleplus">Google+</a>
    </div>
  </div>
</nav>