<div class="m-cover" id="cover">
  <div class="m-cover-headline">
    <h1>Headline</h1>
    <h2>Have you ever loved something so much it hurt?</h2>
    <h3>By <i>Lessley</i> Anderson <br> Tuesday, January 21, 2014</h3>
  </div>
</div>